<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Contact Form (Basic Demo Form)</md-toolbar>
  <md-card-content>
      The form
  </md-card-content>
  <md-card-actions>
       <button md-button color="accent">Clear</button>
       <button md-button color="primary">Submit</button>
  </md-card-actions>
</md-card>
