<md-toolbar color="primary">
  <h2>
    <span class="md-title">Base Template</span>
  </h2>
  <span flex style="flex: 1 1 auto;"></span>
  <div class="navbar-right navbar-text">
    <button md-icon-button [md-menu-trigger-for]="menu">
     <md-icon>more_vert</md-icon>
    </button>

    <md-menu #menu="mdMenu">
      <button md-menu-item [routerLink]="['/']"> Home </button>
      <button md-menu-item [routerLink]="['/login']"> Sign In </button>
      <button md-menu-item (click)="logout()"> Sign Out </button>
      <button md-menu-item [routerLink]="['/recover']"> Recover Password </button>
      <button md-menu-item [routerLink]="['/signup']"> Signup </button>
     </md-menu>

     <span>My Account</span>
  </div>
</md-toolbar>
<router-outlet></router-outlet>
