<md-divider></md-divider>
<md-card>
    <md-toolbar class="md-primary" color="primary">
      Sign in
    </md-toolbar>
    <md-card-content>
    <div layout="column" layout-fill layout-margin layout-padding>
      <div layout="row" layout-fill layout-margin>
        <p class="md-body-2"> Sign in with your email</p>
      </div>

      <form [formGroup]="loginForm" #f="ngForm" (ngSubmit)="login()"
        layout="column" layout-fill layout-padding layout-margin>

        <md-input formControlName="email" type="email" placeholder="Email"></md-input>
        <md-input formControlName="password" type="password" placeholder="Password"></md-input>
        <button md-raised-button class="md-primary" type="submit" aria-label="login">Sign In</button>

      </form>

      <div [hidden]="error == ''">
        <md-toolbar class="md-warn" layout="row" layout-fill layout-padding layout-margin>
          <p class="md-body-1">{{ error }}</p>
        </md-toolbar>
      </div>

      <md-divider></md-divider>

    </div>
    </md-card-content>
    <md-card-actions>
      <div layout="row" layout-align="center">
        <a md-button [routerLink]="['/signup']">Need an account?</a>
        <a md-button [routerLink]="['/recover']">Forgot password?</a>
      </div>
</md-card>
