<md-divider></md-divider>
<md-card>
    <md-toolbar class="md-primary" color="primary">
      Sign up
    </md-toolbar>
    <md-card-content>
    <div layout="column" layout-fill layout-margin layout-padding>

      <form [formGroup]="signupForm" #f="ngForm" (ngSubmit)="signup()"
        layout="column" layout-fill layout-padding layout-margin>

        <md-input formControlName="email" type="email" placeholder="Email"></md-input>
        <md-input formControlName="password" type="password" placeholder="Password"></md-input>
        <button md-raised-button class="md-primary" type="submit" aria-label="login">Sign Up</button>

      </form>

      <div [hidden]="error == ''">
        <md-toolbar class="md-warn" layout="row" layout-fill layout-padding layout-margin>
          <p class="md-body-1">{{ error }}</p>
        </md-toolbar>
      </div>

      <md-divider></md-divider>

    </div>
    </md-card-content>
    <md-card-actions>
      <div layout="row" layout-align="center">
        <a md-button [routerLink]="['/login']">Already a user?</a>
      </div>
</md-card>
